.buy {
  display: flex;
  height: calc(100vh - 4.25rem);
}

.produto-capa {
  width: 45%;
  height: 100%;
  background-image: url('../assets/produto-capa.png');
  background-attachment: fixed;
  background-size: 60rem;
  background-position: 9% top;
  background-repeat: no-repeat;
}

.gatito {
  padding: 2.5rem;
  flex-basis: 0;
  color: var(--grey-1);
}

.gatito h1 {
  font-size: 11.4375rem;
  text-transform: uppercase;
  color: var(--orange-1);
  letter-spacing: 0.6rem;
  line-height: 9rem;
  font-weight: 800;
}

.content {
  padding-left: 1rem;
  display: flex;
  gap: 1.6rem;
}

.description {
  flex-basis: 80%;
}

.description h2 {
  font-size: 1.375rem;
  font-weight: 800;
  margin-bottom: 2.56rem;
}

.description h3 {
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.875rem;
}

.description p {
  margin-bottom: 1.75rem;
  line-height: 1.5rem;
}

.description p:last-child {
  margin-bottom: 0;
}

.content a {
  align-self: flex-end;
  flex-basis: 20%;
  background-color: var(--orange-2);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  border-radius: 2rem;
  padding: 1.4rem 2.5rem;
}
